* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start  Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (max-width: 767px) {
    .container {
        width: 100%;
        /* margin-top: 20px;
        margin-bottom: 20px; */
    }

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End  Container */