  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background: #6D63FF;
      background: conic-gradient(from 45deg, #6D63FF, #FFFFFF);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Start  Container */
  .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      /*  */
      /* height: 100vh; */


  }

  /*small*/
  @media (max-width: 767px) {
      .container {
          width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

      }

  }

  @media (min-width: 768px) {
      .container {
          width: 750px;
      }

  }

  /*Medium*/
  @media (min-width: 992px) {
      .container {
          width: 750px;
      }
  }

  /*Large*/
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
  }

  /* End  Container */
  /*  */
  .container .app {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
  }

  /* 
  @media (max-width:991px) {
      .container .app {
          flex-direction: column;
      }
  } */

  /*  */
  /* Start image */
  /* @media (max-width:767px) {
    .container   {
        margin: 20px 0;
    }
}
  .container .app .image { */
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 20px;
      align-items: center;
  }

  @media (max-width:991px) {
      .container .app .image {
          display: none;
      }
  }


  .container .image img {
      max-width: 100%;
  }

  .container .image a {}

  /* End image */
  /* Start Form */
  .container .sign-up-form {
      width: 50%;
      display: flex;
      flex-direction: column;
  }

  @media (max-width:991px) {
      .container .sign-up-form {
          width: 80%;
      }
  }

  .container .sign-up-form div:not(.gander) {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .container .sign-up-form h1 {
      color: #3F3D56;
  }

  .container .sign-up-form div i {
      position: absolute;
      top: 11px;
      color: #3F3D56;
  }

  .container .sign-up-form div input {
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 25px;
  }

  .container .sign-up-form div input.active {
      border-bottom: 1px solid red;

  }

  .container .sign-up-form div input.active::placeholder {
      color: red;
  }

  .container .sign-up-form div input:focus {
      outline: none;
  }

  .container .sign-up-form div span {
      /* color: red; */
      /* display: none; */
      visibility: hidden;
  }

  .container .sign-up-form div span.active {
      color: red;
      visibility: initial;
      /* display: initial; */
  }

  .container .sign-up-form .gander {
      margin: 20px 0;
      display: flex;
      align-items: center;
  }

  .container .sign-up-form .gander label {
      cursor: pointer;
      user-select: none;
      padding: 0 10px;
  }

  .container .sign-up-form .gander input {
      accent-color: #3F3D56;
  }

  .container .sign-up-form .gander .female {
      margin-right: 20px;
  }



  .container .sign-up-form button {
    /* display: inline; */
      background-color: #6C63FF;
      border: none;
      color: white;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }

  .container .sign-up-form .sign-up.disabled {
      background-color: red;
      cursor: not-allowed;
  }
  .container .sign-up-form .btn-massege{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 10px;
    /* justify-content: spa; */
}
@media (max-width:767px) {
    .container .sign-up-form .btn-massege{
        flex-direction: column !important;
        align-items: start;

    }
  }
  .container .sign-up-form .button-massege {
      visibility: hidden;
      /* color: re; */
  }

  .container .sign-up-form .button-massege.active {
      visibility: initial;
  }

  /* End Form */